# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE files
.vscode/
*.swp
*.sublime-project
*.sublime-workspace

# Logs, outputs, data
*.log
results/
*.h5
*.pt
*.ckpt

# MuJoCo binaries cache
~/.mujoco/

# Python cache & temp
*.egg-info/
*.egg
dist/
build/
